body {
    margin: 0;
    font-family: christmas choco, arial;
    background: #F5E6D3; 
    color: #5C3A21; 
}

header {
    background: #5C3A21; 
    padding: 20px;
    color: #F5E6D3; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav a {
    color: #F5E6D3;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #C9A66B; 
    text-decoration: underline;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: #C9A66B; 
    color: #3F2A1D;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.btn {
    background: #5C3A21; 
    color: #F5E6D3;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: #3F2A1D; 
}

.produk-section {
    padding: 40px 20px;
    text-align: center;
}

.produk-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.tentang, .kontak {
    padding: 40px 20px;
    text-align: center;
    background: #F5E6D3;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #5C3A21;
    color: #F5E6D3;
    margin-top: 20px;
}


